h1 {
    background-color: rgba(242, 148, 19, 1);
    text-align: center;
    font-size: 2.5rem;
    margin-top: 120px;
    margin-bottom: 120px;
}

.form-input {
    display: block;
    width: 80%;
    margin: 5px 0;
}

.form-container {
    border: 1px solid black;
    width: 15%;
    border-radius: 20px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-button {
    background-color: rgba(242, 148, 19, 1);
    padding: 10px;
    width: 7%;
    margin-top: 70px;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    margin-bottom: 100px;
}

.label-name {
    font-size: 1.2rem;
}